<%- include("header") -%>   <!-- layout -->
  <h2>This is the about page</h2>
<p>
  nfewnfowienowienfwoinf nvireojvalfmaljfqoie urwifnvncowieevnlckjfioasoaa
  </p>
<%- include("footer") -%>  <!-- layout -->
